# Created by .ignore support plugin (hsz.mobi)
cloud-api-commons/src/test/
cloud-api-commons/target/generated-sources/
cloud-config-server-3344/src/test/
cloud-config-server-3344/target/generated-sources/
cloud-consumer-hystrix-order8001/src/test/
cloud-consumer-hystrix-order8001/target/generated-sources/
cloud-consumer-openfeign80/src/test/
cloud-consumer-openfeign80/target/generated-sources/
cloud-consumer-order80/src/test/
cloud-consumer-order80/target/generated-sources/
cloud-gateway-getway9527/src/test/
cloud-gateway-getway9527/target/generated-sources/
cloud-payment-hystrix-defend-9001/src/test/
cloud-payment-hystrix-defend-9001/target/generated-sources/
cloud-provider-eureka7002/src/test/
cloud-provider-eureka7002/target/generated-sources/
cloud-provider-eureka7003/src/test/
cloud-provider-eureka7003/target/generated-sources/
cloud-provider-hystrix-payment-8001/src/test/
cloud-provider-hystrix-payment-8001/target/generated-sources/
cloud-provider-payment8001/src/test/
cloud-provider-payment8001/target/generated-sources/
cloud-provider-payment8003/src/test/
cloud-provider-payment8003/target/generated-sources/
cloud-provider-stock5001/src/test/
cloud-provider-stock5001/target/generated-sources/
cloud-provider-timeserver6001/src/test/
cloud-provider-timeserver6001/target/generated-sources/
cloud-stream-rabbitmq-consumer8802/cloud-stream-rabbitmq-consumer8802.iml
cloud-stream-rabbitmq-consumer8802/src/test/
cloud-stream-rabbitmq-consumer8802/target/
cloud-stream-rabbitmq-consumer8803/cloud-stream-rabbitmq-consumer8803.iml
cloud-stream-rabbitmq-consumer8803/src/main/java/.DS_Store
cloud-stream-rabbitmq-consumer8803/src/main/java/com/.DS_Store
cloud-stream-rabbitmq-consumer8803/src/test/
cloud-stream-rabbitmq-consumer8803/target/
cloud-stream-rabbitmq-provider8801/cloud-stream-rabbitmq-provider8801.iml
cloud-stream-rabbitmq-provider8801/src/main/java/com/ztx/springcloud/config/
cloud-stream-rabbitmq-provider8801/src/test/
cloud-stream-rabbitmq-provider8801/target/
